{% extends 'base.html' %}


{% block content %}

<div class="jumbotron" style="width:70%; margin-left:15%;">
    <h2>Bienvenido al sitio AutoeMel, {% if user.is_authenticated%}
        <b>{{ user.username }}</b>{% else %}visitante!{% endif %}!</h2>
<br>
<br>
    <h1>Árboles de decisión para principiantes</h1>

    <br>
    <br>
    <br>
    <br>

    <p>Número total de usuarios registrados: <span class="badge" style="background-color:powderblue; font-size: large;">{{count}}</span></p>

</div>


{% endblock %}