{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class='col-6'>
        <div class="card">
            <div class="card-body">
                <h2>Escriba la nueva contraseña</h2>
                {% if validlink %}
                <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{form|crispy}}
                    <button class="btn btn-primary" type="submit">Cambiar contraseña</button>
                </form>

                {% else %}
    <p style="color:tomato">Petición caducada o invalidada.</p>
    <h4></h4>
    <a href="{% url 'password_reset' %}">Solicita un nueva restauración de contraseña</a>
{% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}